out
*cache
*.sqlite
*.db
*.db-shm
*.db-wal
*.bin
*backup*
*version*
*data*
logs/
bundler/
expansions/
libs
lib/
libraries/
world*/
usercache.json
banned-ips.json
banned-players.json
plugins/dynmap/web
!plugins/dynmap/web/index.html
!plugins/dynmap/web/favicon.ico
plugins/dynmap/markers.yml
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/*.pending
plugins/dynmap/texturepacks/
plugins/WorldGuard/worlds/
plugins/WorldEdit/assets/
plugins/WorldEdit/sessions/
plugins/WorldEdit/.archive-unpack/
plugins/Towny/logs/
plugins/Towny/debtAccountsConverted.txt
plugins/ProtocolLib/lastupdate
plugins/MobArena/config.yml
plugins/mcMMO/flatfile/
plugins/mcMMO/upgrades_overhaul.yml
plugins/Essentials/warps/
plugins/Essentials/usermap.csv
plugins/Essentials/items.json
plugins/Essentials/upgrades-done.yml
plugins/CraftBook/uuid-mappings.db
plugins/CraftBook/variables.yml
plugins/CoreProtect/.license
plugins/Citizens/saves.yml
plugins/Citizens/shops.yml
plugins/CraftBook/persistence.yml
plugins/VentureChat/example_config_always_up_to_date!.yml
# this file contains a secret
plugins/DiscordSRV/config.yml
plugins/DiscordSRV/linkedaccounts.json
plugins/DynamicShop/User.yml
